<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" href="/fonts/JetBrainsMono-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/JetBrainsMono-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/styles.css?v={{ static_asset_hash }}">
    <link rel="icon" href="/images/logo_padded.svg">
    <title>Policies - Software Should Work</title>
    <style>
      main p {
      margin-bottom: var(--space-sm);
    }
    </style>
  </head>
  <body>
    <main>
      {% include "header.html" %}
      <h1>Policies</h1>
      <h2>Code of Conduct</h2>
      <p>
        All attendees, speakers, sponsors and volunteers at Software Should Work are
      required to agree with the following code of conduct. Organisers will
      enforce this code throughout the event. We expect cooperation from all
      participants to help ensure a safe environment for everybody.
      </p>
      <p>
        If you need help or any issues arise, feel free to contact Isaac Van Doren, the conference organizer, at
        <a href="mailto:isaac@softwareshouldwork.com">isaac@softwareshouldwork.com</a>
        or in person at the event.
      </p>
      <p>
        Software Should Work is dedicated to providing a harassment-free conference
      experience for everyone, regardless of gender, gender identity and
      expression, age, sexual orientation, disability, physical appearance, body
      size, race, ethnicity, religion (or lack thereof), or technology choices.
      We do not tolerate harassment of conference participants in any form.
      Sexual language and imagery is not appropriate for any conference venue,
      including talks, workshops, parties, Twitter and other online media.
      Conference participants violating these rules may be sanctioned or
      expelled from the conference
        <em>without a refund</em>
        at the discretion
      of the conference organisers.
      </p>
      <p>
        Harassment includes offensive verbal comments related to gender, gender
      identity and expression, age, sexual orientation, disability, physical
      appearance, body size, race, ethnicity, religion, technology choices,
      sexual images in public spaces, deliberate intimidation, stalking,
      following, harassing photography or recording, sustained disruption of
      talks or other events, inappropriate physical contact, and unwelcome
      sexual attention.
      </p>
      <p>
        Participants asked to stop any harassing behavior are expected to comply
      immediately.
      </p>
      <p>
        Sponsors are also subject to the anti-harassment policy. In particular,
      sponsors should not use sexualised images, activities, or other material.
      Booth staff (including volunteers) should not use sexualised
      clothing/uniforms/costumes, or otherwise create a sexualised environment.
      </p>
      <p>
        If a participant engages in harassing behavior, the conference organisers
      may take any action they deem appropriate, including warning the offender
      or expulsion from the conference with no refund.
      </p>
      <p>
        If you are being harassed, notice that someone else is being harassed, or
      have any other concerns, please contact a member of conference staff
      immediately.
      </p>
      <p>
        Conference staff will be happy to help participants contact hotel/venue
      security or local law enforcement, provide escorts, or otherwise assist
      those experiencing harassment to feel safe for the duration of the
      conference. We value your attendance.
      </p>
      <p>
        We expect participants to follow these rules at conference and workshop
      venues and conference-related social events.
      </p>
      <h2>Attendee Cancellation & Transfer Policy</h2>
      <p>
        Ticket transfers are permitted free of charge until the day before the event.
      </p>
      <p>
        Cancellations are allowed with full refund (minus Stripe transaction fees) until 60 days before the event. Cancellations less than 60 days before are non-refundable.
      </p>
      <p>
        If you are unable to attend the event or want to transfer your ticket, please contact
        <a href="mailto:isaac@softwareshouldwork.com">isaac@softwareshouldwork.com</a>.
      </p>
      <h2>Privacy Policy</h2>
      <p>We collect information to facilitate the operation of the conference. Your information is never sold. It is only shared with third parties to the extent necessary to facilitate the operation of the conference.</p>
      <p>
        Basic information like page views, ip address, etc may be stored when you interact with the website. When you purchase a ticket, information like name and email address is stored. We don't store any payment information; that is handled exclusively by our payment processor, Stripe.
      </p>
      <p>
        To request your information to be removed, please contact
        <a href="mailto:isaac@softwareshouldwork.com">isaac@softwareshouldwork.com</a>.
      </p>
    </main>
    {% include "footer.html" %}
  </body>
</html>